// GLOBAL VARİBALES
@import url("normalize.css");
@import url("../fonts/stylesheet.css");
$primary-color: #fb8e0b;
$secondary-color: #fd6003;
$bg-global-color: #fff;
$bg-primary-color: #797b89;
$bg-secondary-color: #e8e9ed;
$bg-last-color: #f8f8fa;
$header-color: #1b1c20;
$body-color: #fafafa;
$text-color: #797b89;
$text-secondary-color: #c6c8d3;
$white: #fff;
$font-family: "GT Eesti Pro Display";
$transition-general: all 0.4s ease;

* {
	box-sizing: border-box;
}

html {
	background-color: $bg-global-color;
	font-family: $font-family;
	font-style: normal;
	font-size: 10px;
	scroll-behavior: smooth;
}

section {
	padding-top: 6rem;
	padding-bottom: 4rem;
}

p {
	font-size: 2rem;
	line-height: 2.5rem;
}

button {
	border: none;
	color: inherit;
	cursor: pointer;
}

img {
	width: 100%;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	display: inline-block;
}

header {
	margin: 0 auto;
	height: 8rem;
	padding-top: 1.5rem;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

span {
	font-size: 1.2rem;
}

@mixin sec-grid($columns) {
	display: grid;
	grid-template-columns: $columns;
}

.container {
	width: 100%;
	max-width: 120rem;
	margin: 0 auto;
}

.checked-rating {
	color: orange;
}

.header-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10rem;
	height: 5rem;
}

.navigation-list,
.side-navigation-list {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	font-weight: bolder;
}

.navigation-item {
	margin: 0 2.5rem;
}

.navigation-item:last-child {
	margin-right: 0 !important;
}

ul > li > a {
	color: $header-color;
	transition: $transition-general;
	border-bottom: 0.3rem solid transparent;
}

ul > li > a:hover {
	color: $bg-primary-color;
}

ul > li > a::after {
	content: "";
	display: block;
	height: 0.2rem;
	width: 0;
	opacity: 0;
	background-color: $secondary-color;
	transition: $transition-general;
}

ul > li > a:hover::after {
	width: 100%;
	opacity: 1;
}

.button {
	background-color: $primary-color;
	border-radius: 0.5rem;
	padding: 1rem;
	color: $white;
	font-weight: bolder;
	transition: $transition-general;
	border: 1px solid transparent;
}

.button-xl {
	font-size: large;
}
.button:hover {
	background-color: $white;
	color: $primary-color;
	border: 1px solid $primary-color;
}

.hero-row {
	@include sec-grid(1fr 1fr);
}

.hero-desc {
	padding-top: 4rem;
	position: relative;
	padding-right: 3rem;
	margin-right: 1rem;
}

.hero-desc-description {
	margin-top: 5rem;
	margin-bottom: 3rem;
}

.hero-woman {
	padding-left: 2rem;
}

.statics {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 5rem;
	padding-right: 3rem;
	font-weight: bolder;
}

.customers {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 3rem;
}

.customers-alt-2 {
	margin-left: 2rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.divider {
	width: 0.3rem;
	height: 4rem;
	background-color: $header-color;
}

.experience-list-row {
	@include sec-grid(1fr 1fr 1fr);
}

.experince-img-container {
	width: 8rem;
	height: 100%;
}

.experience-list-row > .column {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 2rem;
}

.experince-list-item {
	margin: 0 !important;
}

.experince-list-item-desc {
	margin-left: 1.4rem;
}

.experince-row {
	text-align: center;
}

.experince-title {
	margin-top: -5rem;
	margin-bottom: 10rem;
}

section.meet,
section.messages {
	background-color: $body-color;
}

.meet-row,
.conversation-row,
.messages-row {
	@include sec-grid(1fr 1fr);
}

.meet-img-container,
.message-img-container {
	width: 80%;
}

.conversation-desc {
	padding-top: 6rem;
}

.message-info {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.message-info-item {
	display: flex;
	align-items: center;
}

.message-info-item > span {
	font-size: 1.5rem;
	margin-left: 0.5rem;
	font-weight: bolder;
}

section.client {
	text-align: center;
	background: radial-gradient(
		circle,
		rgba(251, 142, 11, 0.9615196420365021) 91%,
		rgba(226, 128, 11, 1) 100%
	);
}

.client-title {
	color: $white;
	margin: 4rem auto;
	line-height: 5rem;
}

.client-row > .column {
	padding-bottom: 4rem;
	@include sec-grid(1fr 1fr);
	margin: 0 auto;
}

.message-box {
	width: 90%;
	height: 24rem;
	background-color: $white;
	color: #fff;
	padding: 0.5rem 2rem;
	position: relative;
	margin: 4rem;
	border-radius: 0.5rem;
}

.message-box::after {
	content: " ";
	position: absolute;
	right: 50%;
	bottom: -1.5rem;
	border-top: 1.5rem solid $white;
	border-right: 1.5rem solid transparent;
	border-left: 1.5rem solid transparent;
	border-bottom: none;
}

.message-title {
	color: $primary-color;
	font-weight: bolder;
	font-size: 2rem !important;
}

.message-content {
	color: $header-color;
	font-size: 2rem;
}

.img-author {
	width: 5rem;
}

.author {
	display: flex;
	margin: 1rem auto;
	justify-content: center;
	text-align: center;
	margin-left: -7rem;
}

.author-info > span {
	color: $white;
	font-size: 2rem;
	margin-left: 2rem;
	margin-bottom: 1rem;
}

.author-info {
	display: flex;
	flex-direction: column;
}

.footer-title {
	text-align: center;
}

.footer-head {
	margin: 8rem auto;
	text-align: center;
}

.footer-navbar {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.footer-icon-list > a > i {
	color: $primary-color;
	margin: auto 1rem;
}

.footer-icon-list:last-child {
	margin-right: 0 !important;
}

.footer-last {
	height: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-last > .right > a {
	color: $header-color;
}
