@font-face {
    font-family: 'GT Eesti Pro Display';
    src: local('GT Eesti Pro Display Light'), local('GTEestiProDisplay-Light'),
        url('GTEestiProDisplay-Light.woff2') format('woff2'),
        url('GTEestiProDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: local('GT Eesti Pro Display Regular'), local('GTEestiProDisplay-Regular'),
        url('GTEestiProDisplay-Regular.woff2') format('woff2'),
        url('GTEestiProDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: local('GT Eesti Pro Display Medium'), local('GTEestiProDisplay-Medium'),
        url('GTEestiProDisplay-Medium.woff2') format('woff2'),
        url('GTEestiProDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: local('GT Eesti Pro Display Bold'), local('GTEestiProDisplay-Bold'),
        url('GTEestiProDisplay-Bold.woff2') format('woff2'),
        url('GTEestiProDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Eesti Pro Display';
    src: local('GT Eesti Pro Display Thin'), local('GTEestiProDisplay-Thin'),
        url('GTEestiProDisplay-Thin.woff2') format('woff2'),
        url('GTEestiProDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

